body {
  background-color: #333;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.carousel-item {
  height: 25rem;
  background: #777;
  position: relative;
  background-position: center;
  background-size: cover;
}
.carousel-caption {
  top: 70px; 
  font-family: Tahoma;
  font-size: larger;
}

.carousel-item .img-fluid {
  width:100%;
  height:100%;
}

.label {
  color: white;
}

.haiku {
  color: white;
  font-family: Tahoma;
  font-size: xx-large;
}

.haikus {
  color: white;
  font-family: Tahoma;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  gap: 20px;
  color: white;
}

.box-paragraph {
  font-weight: 400;
  max-height: 80px;
  word-wrap: break-word;
  text-align: left;
  /* overflow: hidden; */
}

/* .more {
  display: none;
} */
/* #more {display: none;} */

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.container {
  width: 800px;
  max-width: 50%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.container1 {
  width: 800px;
  max-width: 50%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn-grid1 {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn1 {
  background-color: hsl(0, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  /* border-color: black; */
  border: 3px solid blueviolet;
}

.btn1:hover {
  /* border-color: black; */
  border: 3px solid rgb(60, 48, 71);
}